<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

    <!--@AspectJ支持-->
    <aop:aspectj-autoproxy/>

    <context:annotation-config/>

    <!--业务实现-->
    <bean id="loginService" class="spring.custom.aspectj.LoginServiceImpl"/>

    <!--Aspect-->
    <bean id="logBeforeLoginAspect3" class="spring.custom.aspectj.LogBeforeLogin">
        <property name="name" value="logBeforeLoginAspect3"/>
    </bean>
    <bean id="logBeforeLoginAspect" class="spring.custom.aspectj.LogBeforeLogin">
        <property name="name" value="logBeforeLoginAspect"/>
    </bean>
    <bean id="logBeforeLoginAspect2" class="spring.custom.aspectj.LogBeforeLogin">
        <property name="name" value="logBeforeLoginAspect2"/>
    </bean>

</beans>